"filters"
{
    "filter_words"
    {
        ">"              "{yellowgreen}>"
        "<"              "{tomato}<"
        "nipah:"         "{rare}"
	"niinii:"	"{yellow}"
	"ohoho:"	"{yellow}"
	"trap:"		"{yellow}"
        "mion:"          "{lightgreen}"
        "shion:"         "{lightgreen}"
        "hau:"           "{darkorange}"
        "rena:"          "{darkorange}"
        "auau:"          "{mediumslateblue}"
        "hanyuu:"        "{mediumslateblue}"
        "k1:"            "{peru}"
        "futa"           "panic attack"
	"desire:"	"{gold}"
        "gaben"          "kogasa"
        "based on what"  "keyed on what"
        "fempyro"        "mokou"
        "scout"          "aya"
        "soldier"        "reimu"
        "pyro"           "mokou"
        "demoman"        "suika"
        "heavy"          "marisa"
        "engi"           "nitori"
        "medic"          "eirin"
        "sniper"         "reisen"
        "spy"            "koishi"
        "monoculus"      "evil eye sigma"
        "discord"        "pyroland"
        "!rtd"           "I'm cooking turkey, is this a turkey-cooking server?"
        "ytranny"        "chicken"
        "trannies"       "tanukis"
        "femboy"         "vegeta"
        "bussy"          "mashed potato"
        "uncletopia"     "gyate.net"
        " unc"           " yukari"
        "sane"           "sanae"
        "trap"           "satoko"
        "tbh"            "da ze"
        "spies"          "satori"
        "finasteride"    "bald kaguya"
        "bbc"            "sandman"
        "bwc"            "atomizer"
        "chud"           "keiki"
        "femcel"         "holy mackerel"
        "incel"          "margatroid"
        " trans "        " jarate "
        "steamgroup"     "{lightgreen}Join our Steam Group! It's aryan! {gold}https://steamcommunity.com/groups/kogtf2"
        "minnesota"      "niggasoda"
    }
    "blacklist_words"
    {
    }
    "force_status"
    {
        "STEAM_0:1:101494818a"    "whitelist"
        "STEAM_0:1:77634234"    "whitelist"
        "STEAM_0:0:884734630"    "whitelist"
        "STEAM_0:0:11223344"    "filter_whitelist"
    }
    "commands"
    {
        "rtv"    ""
        "nominate"    ""
        "nom"    ""
        "n"    ""
        "scramble"    ""
        "shitteam"    ""
        "scwamble"    ""
	"nextmap"	""
	"next"	""
    }
}
